<html>  
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Analyzing Text...</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Purpose : {{ purpose }} </h1>
        <h3>Analyzed Text :- </h3>
        <p>
            {{ analyzed_text }}
        </p>
        <br>
        <h3>Original Text :- </h3>
        <p>
            {{ original_text }}
        </p>
        <br>
        <a href="/">Back to Analyze Page</a>

        
        <script src="" async defer></script>
    </body>
</html>