<html>  
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Text Utils</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% comment %} <p>lorem</p>
        Variables params accessing from view.py
        {{name}} from {{place}}
        {% endcomment %}

        <h1>Texutils</h1>
        <h2>Welcome to text analyzer !</h2>

        <h3>Enter your text :</h3>
        <form action='/analyze' method='get'>
            <textarea name="text" style='margin: 0px; width: 700px; height: 90px;'></textarea>
            <br>
            <input type="checkbox" name="removepunc"> Remove Punctuations
            <br>
            <input type="checkbox" name="uppercase"> Upper Case
            <br>
            <input type="checkbox" name="newlineremove"> New Line Remove
            <br>
            <input type="checkbox" name="spaceremove"> Remove Spaces
            <br>
            <input type="checkbox" name="charcount"> Count the characters
            <br>
            <br>
            <button type='submit'>Analyze Text</button>
        </form>
        
        <h2>Ohter Links :</h2>

        <ul>
            <li> <b>Go to Exercise 1 :</b><a href="/exercise1">/exercise1:<a> Render Text File </li> <br>
            <li> <b>Go to Exercise 2 :</b><a href="/exercise2">/exercise2:<a> Personal Navigator </li> <br>
            <li> <b>Go to Pipeline Structure :</b><a href="/home">/home:<a> Pipeline for textutils </li>
        </ul>

        <h2> Text Examples<h2>
        <h4>Remove Punctuations:</h4>
        <pre><code>Please remo:::::::::;;''''?///''[]ve Punctuations.</code></pre>
        <h4>Upper Case:</h4>
        <pre><code>Convert this line into upper case.</code></pre>
        <h4>New Line Remove:</h4>
        <pre><code>
            this
            is
            my
            name:
            Irfan
        </code></pre>
        <h4>Remove Space:</h4>
        <pre><code>this is        my       web    si     te.<pre></code>
        <h4>Charracter Count:</h4>
        <pre><code>
            Count the 12356 character
            25676 in this line.</code></pre>

        <script src="" async defer></script>
    </body>
</html>