<html>  
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Text Utils</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Texutils</h1>
        <h4>Welcome to pipeline for textutils!</h4>

        <h2>1. Remove Punctuation :</h2>
        <h3>Enter your text :</h3>
        <form action='/removepunc' method='get'>
            <textarea name="text" style='margin: 0px; width: 600px; height: 110px;'></textarea>
            <br>
            <br>
            <button type='submit'> Analyze Text </button>
        </form>
        
        <h2>Ohter Links :</h2>

        <ul>
            <li> <b>Go to Removepunc :</b><a href="/removepunc">/removepunc:<a> Remove Punctuation </li> <br>
            <li> <b>Go to Capitalize :</b><a href="/capitalize">/capitalize:<a> Personal Navigator </li> <br>
            <li> <b>Go to NewLineRmove :</b><a href="/newlineremove">/newlineremove:<a> Personal Navigator </li> <br>
            <li> <b>Go to SpaceRomove :</b><a href="/spaceremove"   >/spacermove:<a> Personal Navigator </li> <br>
            <li> <b>Go to CharCount :</b><a href="/charcount">/charcount:<a> Personal Navigator </li>
        </ul>
        <br>
        <a href="/">Back to Home Page</a>
        <script src="" async defer></script>
    </body>
</html>